In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup
import pandas as pd
import os

### Trying Export Data Scraping

In [28]:
browser = webdriver.Chrome()
browser.get("https://agriexchange.apeda.gov.in/IndExp/PortNew.aspx")

In [29]:
product_element = browser.find_element(By.ID, "RBLSummary_3")
product_element.click()

In [31]:
year_element = browser.find_element(By.ID, "ListBoxYear")
year_dropdown = Select(year_element)
year_dropdown.select_by_visible_text("2022-23")

In [32]:
value_element = browser.find_element(By.ID, "Crore")
value_element.click()

In [33]:
submit_element = browser.find_element(By.ID, "Button1")
submit_element.click()

In [34]:
html_content = browser.page_source

In [37]:
doc = BeautifulSoup(html_content, "html.parser")

In [53]:
table_element = doc.find_all("table")

In [54]:
len(table_element)

13

In [55]:
table = table_element[11]

In [57]:
row_element = table.find_all("tr")

In [58]:
len(row_element)

46

In [66]:
row_element[1]

<tr align="center" class="headerfooter" style="background-color:#EFEFEF;">
<td style="width:200px;">ProductName</td><td align="center" style="width:110px;">Qty</td><td align="center" style="width:110px;">Rs. Crore</td><td>Country</td>
</tr>

In [84]:
row_element[2].find_all("td")[:3]

[<td align="left" style="width:200px;">NON BASMATI RICE</td>,
 <td align="right">17786092.81</td>,
 <td align="right">51088.72</td>]

In [85]:
data = []
for i in range(2, len(row_element)):
    internal = []
    elements = row_element[i].find_all("td")[:3]
    for j in range(0, len(elements)):
        internal.append(elements[j].text)
    data.append(internal)

In [86]:
len(data)

44

In [91]:
data[0]

['NON BASMATI RICE', '17786092.81', '51088.72']

In [100]:
df = pd.DataFrame(data, columns = ["Product Name", "Qty(MT)", "Rs(Crore)"])
df

                                Product Name        Qty(MT)   Rs(Crore)
0                           NON BASMATI RICE    17786092.81    51088.72
1                               BASMATI RICE     4558972.23    38524.11
2                               BUFFALO MEAT     1175869.13    25648.10
3                                      WHEAT     4693264.09    11826.90
4                                      MAIZE     3453680.58     8987.13
5                 MISCELLANEOUS PREPARATIONS      826368.62     8889.12
6                                 GROUNDNUTS      668885.39     6735.25
7                        CEREAL PREPARATIONS      480429.35     6051.51
8                                     PULSES      775024.48     5397.86
9                       PROCESSED VEGETABLES      410415.99     4987.36
10                                   GUARGUM      406513.53     4944.60
11           PROCESSED FRUITS, JUICES & NUTS      388207.95     4754.83
12                              FRESH ONIONS     2525258.35     4522.79
13                   JAGGERY & CONFECTIONERY      761640.19     4330.07
14                    PREPARED ANIMAL FEEDER      796242.90     3584.39
15                            CASHEW KERNELS       59575.83     2868.72
16                        OTHER FRESH FRUITS      674291.70     2736.99
17                       ALCOHOLIC BEVERAGES      230903.47     2546.44
18                              FRESH GRAPES      267950.39     2543.42
19                    OTHER FRESH VEGETABLES      827288.05     2443.04
20                            DAIRY PRODUCTS       67572.99     2269.85
21                           MILLED PRODUCTS      629253.46     2223.94
22  CUCUMBER AND GHERKINS( PREPD. &  PRESVD)      227699.04     1761.10
23                             NATURAL HONEY       79929.17     1622.77
24                            COCOA PRODUCTS       34249.85     1242.13
25                                MANGO PULP      109501.38     1189.66
26                          POULTRY PRODUCTS      664753.46     1081.62
27               OTHER OIL CAKE/SOLID RESDUS      583387.18      939.66
28                 FRUITS & VEGETABLES SEEDS       13605.72      827.13
29                                    CASEIN        8843.53      816.32
30                              FLORICULTURE       21024.41      707.81
31                                    Millet      169049.21      608.11
32                           SHEEP/GOAT MEAT        9592.31      537.18
33              OTHERS (BETEL LEAVES & NUTS)       17205.45      534.73
34                             FRESH MANGOES       22963.76      378.49
35                            ANIMAL CASINGS       12577.04      326.02
36                    ALBUMIN( Eggs & Milk )        2219.94      266.88
37                                  CARDANOL        6607.05       57.08
38                    CASHEWNUT SHELL LIQUID       10641.81       56.39
39                             OTHER CEREALS        3801.18       27.40
40                                   WALNUTS         717.64       25.83
41                                OTHER MEAT         701.80       16.93
42                            PROCESSED MEAT         331.57       11.72
43                                     Total  44,463,103.98  220,940.10

In [105]:
df.to_csv("../../Datasets/Export/Export-Product-Wise/2022-23.csv", index=None)

In [107]:
years = [
    '1987-88', '1988-89', '1989-90', '1990-91', '1991-92', '1992-93', '1993-94', '1994-95', '1995-96', '1996-97',
    '1997-98', '1998-99', '1999-00', '2000-01', '2001-02', '2002-03', '2003-04', '2004-05', '2005-06', '2006-07',
    '2007-08', '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14', '2014-15', '2015-16', '2016-17',
    '2017-18', '2018-19', '2019-20', '2020-21', '2021-22', '2022-23', '2023-24'
]

In [112]:
folder_path = "../../Datasets/Import/Import-Product-Wise"
for i in range(0, len(years)):
    new_path = folder_path + f"/{years[i]}"
    os.makedirs(new_path)

In [4]:
options = webdriver.ChromeOptions()
options.add_argument("--headless")
browser = webdriver.Chrome(options=options)
browser.get("https://agriexchange.apeda.gov.in/IndExp/PortNew.aspx")
print(f"Scrapping Data of year 2022-23")

product_element = browser.find_element(By.ID, "RBLSummary_4")
product_element.click()

year_element = browser.find_element(By.ID, "ListBoxYear")
year_dropdown = Select(year_element)
year_dropdown.select_by_visible_text("2022-23")

value_element = browser.find_element(By.ID, "Crore")
value_element.click()

submit_element = browser.find_element(By.ID, "Button1")
submit_element.click()

html_content = browser.page_source
doc = BeautifulSoup(html_content, "html.parser")

table_element = doc.find_all("table")
table = table_element[11]
row_element = table.find_all("tr")

data = []
for i in range(2, len(row_element)):
    internal = []
    elements = row_element[i].find_all("td")[:3]
    for j in range(0, len(elements)):
        internal.append(elements[j].text)
    data.append(internal)

df = pd.DataFrame(data, columns = ["Product Name", "Qty(MT)", "Rs(Crore)"])
df

browser.quit()

Scrapping Data of year 2022-23

In [5]:
len(df)

199

### Trying Import Data Scraping

In [3]:
browser = webdriver.Chrome()
browser.get("https://agriexchange.apeda.gov.in/importtoindia/genReport_combined.aspx")

In [6]:
product_element = browser.find_element(By.ID, "RadioButtonList2_0")
product_element.click()

In [5]:
year_element = browser.find_element(By.ID, "ListBoxYear")
year_dropdown = Select(year_element)
year_dropdown.select_by_visible_text("2022-23")

In [7]:
country_element = browser.find_element(By.ID, "ListBoxCountry")
country_dropdown = Select(country_element)
country_dropdown.select_by_visible_text("All")

In [8]:
value_element = browser.find_element(By.ID, "Crore")
value_element.click()

In [9]:
submit_element = browser.find_element(By.ID, "Button1")
submit_element.click()

In [10]:
html_content = browser.page_source

In [11]:
doc = BeautifulSoup(html_content, "html.parser")

In [16]:
table_element = doc.find_all("table")

In [17]:
len(table_element)

12

In [20]:
table = table_element[10]

In [21]:
row_element = table.find_all("tr")

In [23]:
len(row_element)

41

In [28]:
row_element[2]

<tr align="right" style="font-size:9pt;">
<td align="left" style="width:240px;">Pulses</td><td>2529815.01</td><td>15985.85</td>
</tr>

In [29]:
row_element[2].find_all("td")

[<td align="left" style="width:240px;">Pulses</td>,
 <td>2529815.01</td>,
 <td>15985.85</td>]

In [30]:
data = []
for i in range(2, len(row_element)):
    internal = []
    elements = row_element[i].find_all("td")
    for j in range(0, len(elements)):
        internal.append(elements[j].text)
    data.append(internal)

In [31]:
data[0]

['Pulses', '2529815.01', '15985.85']

In [32]:
df = pd.DataFrame(data, columns=["Product Name", "Qty(MT)", "Rs(Crore)"])
df

                                Product Name       Qty(MT)  Rs(Crore)
0                                     Pulses    2529815.01   15985.85
1                             Cashew Kernels    1332173.08   14369.51
2                         Other Fresh Fruits    1116245.24    6870.62
3                        Alcoholic Beverages     324285.63    6151.85
4                 Miscellaneous Preparations     368619.64    3847.46
5                             Cocoa Products     128654.28    3530.76
6                     Prepared Animal Feeder     156017.98    3088.87
7               Others (Betel Leaves & Nuts)      73982.65    2051.34
8            Processed Fruits, Juices & Nuts      88217.86    1862.00
9                        Cereal Preparations     107923.98    1711.03
10                   Jaggery & Confectionery      75502.95    1166.27
11                 Fruits & Vegetables Seeds      27351.48    1153.56
12                    Albumin( Eggs & Milk )      12461.69    1120.25
13                             Other Cereals     288264.01    1057.78
14                                   Walnuts      37677.70     510.58
15                            Dairy Products      13975.81     329.75
16                      Processed Vegetables      24746.57     301.32
17                              Floriculture       8895.17     285.21
18                              Fresh Grapes      11992.87     130.87
19                                     Maize      16731.68      88.92
20                                    Casein       1007.54      85.30
21                    Other Fresh Vegetables      20445.22      58.67
22                                     Wheat      13570.37      46.12
23                          Non Basmati Rice       6711.06      43.99
24                          Poultry Products        284.81      42.81
25                                Other Meat        937.35      38.47
26                             Natural Honey        914.22      29.39
27                                   Guargum        920.40      20.91
28                           Milled Products       3871.58      20.28
29                           Sheep/Goat Meat        215.80      17.24
30               Other Oil Cake/Solid Resdus       9053.02      15.29
31                                Groundnuts       1203.11      12.87
32                    Cashewnut Shell Liquid       3065.99      10.77
33                            Processed Meat         46.05       2.74
34                             Fresh Mangoes         62.40       1.79
35                                    Millet        293.12       1.17
36  Cucumber and Gherkins( Prepd. &  Presvd)        100.04       1.06
37                                  Cardanol          0.50       0.37
38                                     Total  6,806,237.86  66,063.04

In [35]:
df.to_csv("../../Datasets/Import/Import-Product-Wise/2022-23.csv", index=None)